<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>

<script>
  tailwind.config = {
    theme: {
      extend: {
        fontFamily: {
          sans: ['Inter', 'sans-serif'],
        },
      }
    }
  }
</script>
</head>
<body>

        <!--include navbar-->

        {% include 'base/navbar.html' %}

        <!--navabar end-->

        <!--include carsoul-->
            
            {% include 'base/carsoul.html' %}
        <!--carsoul end-->

        <!--top product view-->
        {% include 'base/top_product_view.html' %}

        <!--top product view end-->

        <!--include product list-->
        {% include 'base/productlist.html' %}

        <!--user counts-->
        {% include 'base/user_counts.html' %}

        <!--user counts end-->

        <!--include footer-->
        {% include 'base/footer.html' %}
        <!--footer end-->
        


       
  </h1>
</body>
</html>